#image{
  width: 30px;
  height: 30px;
  margin: 10px;
}
#data{
  text-align: center;
}
.cardStyle{
  height: 250px;
  width: 180px;
  margin-top: 20px;
}
.cartImg{
  height: 100px;
  width: 100px;
}
